{% extends 'base.html.twig' %}

{% block title %}Accueil - Fresh Garden{% endblock %}

{% block body %}
	<section class="home-presentation">
		<div class="title">
			<h1>Votre marché local en ligne</h1>
			<p>Vendez vos récoltes et achetez les produits frais de vos voisins.</p>
			<div class="btn-container">
				<a href="{{ path('app_product_new') }}" class="btn-vente">Vendez</a>
				<a href="{{ path('app_product_new') }}" class="btn-achat">Achetez</a>
			</div>
		</div>
		<div class="img-home-container">
			<img src="{{ asset('images/img_header.png') }}" alt="image d'acceuil" class="img-home">
		</div>
	</section>

	<main>
		<section>
			<h2>Annonces</h2>
			<div class="grid-container">
				<div class="category">
					<h3>Fruits</h3>
					<div class="grid">
						{% for product in products %}
							{% if product.categorie.name == 'Fruits' %}
								{% include '_partials/product/_cardProduct.html.twig' with {'product': product} %}
							{% endif %}
						{% endfor %}
					</div>
				</div>

				<div class="category">
					<h3>Légumes</h3>
					<div class="grid">
						{% for product in products %}
							{% if product.categorie.name == 'Legumes' %}
								{% include '_partials/product/_cardProduct.html.twig' with {'product': product} %}
							{% endif %}
						{% endfor %}
					</div>
				</div>

				<div class="category">
					<h3>Autres Produits</h3>
					<div class="grid">
						{% for product in products %}
							{% if product.categorie.name == 'Autre' %}
								{% include '_partials/product/_cardProduct.html.twig' with {'product': product} %}
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
