{% extends 'base.html.twig' %}

{% block title %}Acceuil - Fresh Garden
{% endblock %}

{% block body %}
	<section>
		<h1>Votre marché local en ligne</h1>
		<p>Vendez vos récoltes et achetez des frais de vos voisins.</p>
		<a href="{{ path('app_product_new') }}" class="btn-vente">Vendez</a>
        <a href="{{ path('app_product_new') }}" class="btn-achat">Achetez</a>
		<img src="{{asset('images/img_header.webp')}}" alt="image d'acceuil" class="img-home">
	</section>

	<main>
		<section>
			<h1>Annonces</h1>
			<div>
				{% for product in products %}
					{% include '_partials/product/_cardProduct.html.twig' %}
				{% endfor %}
			</div>
		</section>
	</main>

{% endblock %}
