{% extends 'admin/base_admin.html.twig' %}
{% block title %}Tableau de Bord Administrateur{% endblock %}

{% block body %}
    <div class="dashboard">
        <h1>Bienvenue sur le tableau de bord de l'administration</h1>

        <div class="stats">
            <div class="stat-item">
                <a href="{{ path('app_admin_user_index') }}" class="stat-content">
                    <div class="stat-icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <h2>Total Utilisateurs</h2>
                    <p>{{ totalUsers }}</p>
                </a>
            </div>

            <div class="stat-item">
                <a href="{{ path('app_admin_product_index') }}" class="stat-content">
                    <div class="stat-icon">
                        <i class="fas fa-boxes"></i>
                    </div>
                    <h2>Total Annonces</h2>
                    <p>{{ totalProducts }}</p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
