/********************************************** Boutons d'administration **********************************************/
.btn-admin {
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-admin:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.btn-view { background-color: #007bff; }
.btn-view:hover { background-color: #0056b3; }

.btn-edit { background-color: #28a745; }
.btn-edit:hover { background-color: #218838; }

.btn-ban { background-color: #dc3545; }
.btn-ban:hover { background-color: #c82333; }

.btn-unban { background-color: #ffc107; color: #212529; }
.btn-unban:hover { background-color: #e0a800; }

.btn-delete { background-color: #e74c3c; }
.btn-delete:hover { background-color: #c0392b; }




@media screen and (max-width: 1024px) {
    .btn-admin {
        padding: 6px 12px;
        font-size: 0.85em;
    }
}

@media screen and (max-width: 768px) {
    .btn-admin {
        font-size: 0.8em;
        padding: 5px 10px;
    }
}

/***************************************** Boutons du header *****************************************************/
.btn-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn-nav li {
    margin-left: 10px;
}

/* Boutons circulaires */
#message-button,
#cart-button,
#favorite-button,
#connexion-button {
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    color: var(--dark-green);
    outline: none;
    border: none;
    background-color: var(--white2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#message-button:hover,
#cart-button:hover,
#favorite-button:hover,
#connexion-button:hover{
    color: var(--white2);
    background-color: var(--dark-green);
}

@media (max-width: 768px) {
    .sticky-buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: var(--white2);
        padding: 10px 0;
        border-top: 1px solid var(--white2);
        z-index: 1000;
    }

    .sticky-buttons li {
        display: inline-block;
        margin: 0;
        list-style-type: none;
    }

    .sticky-buttons li a {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        outline: none;
        border: none;
        background-color: var(--white2);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .btn-nav {
        display: none;
    }

    #mobile-connexion-button{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        outline: none;
        border: none;
        background-color: var(--white2);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    #mobile-connexion-button:hover {
        background-color: var(--dark-green);
        color: var(--white2);
    }
}

/***************************************** Formulaire de recherche ****************************************************/

.search-btn {
    background-color: var(--light-green);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: var(--font-size-small);
    transition: background-color 0.3s;
}

.search-btn:hover {
    background-color: var(--dark-green);
}

/****************************************** Bouton panier *************************************************************/
.checkout-btn {
    background-color: var(--light-green);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: var(--font-size-small);
    transition: background-color 0.3s;
}

.checkout-btn:hover {
    background-color: var(--dark-green);
}

/********************************************* edit profil ************************************************************/
.btn-save-image,
.btn-delete-image {
    background-color: var(--light-green);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: var(--font-size-small);
}

.btn-save-image {
    background-color: var(--light-green);
}

.btn-save-image:hover {
    background-color: var(--dark-green);
}

.btn-delete-image {
    background-color: var(--red);
}

.btn-delete-image:hover {
    background-color: var(--red-hover);
}

.btn-primary {
    background-color: var(--light-green);
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: var(--dark-green);
    color: var(--white2);
}

.btn-delete-account {
    font-size: 0.8em;
    color: var(--red);
    align-self: center;
}

.btn-delete-account:hover {
    color: var(--red-hover);
    text-decoration: underline;
}


/**************************************************** page d'acceuil *************************************************/
.btn-container {
    display: flex;
    gap: 2rem;
    margin-top: 6rem;
}

.btn-vente, .btn-achat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    border-radius: var(--border-radius);
    text-align: center;
}

.btn-vente {
    background-color: var(--light-green);
    color: var(--white2);
    border: 1px solid var(--light-green);
}

.btn-vente:hover {
    background-color: var(--dark-green);
    color: var(--white2);
    border: 1px solid var(--dark-green);
}

.btn-achat {
    background-color:var(--white2);
    color: var(--light-green);
    border: 1px solid var(--light-green);
}

.btn-achat:hover {
    background-color: var(--dark-green);
    color: var(--white2);
}

@media (max-width: 1024px) {
    .btn-container {
        gap: 1rem;
        margin-top: 1rem;
    }
}

@media (max-width: 768px) {
    .btn-container {
        gap: 1rem;
        margin-top: 1rem;
    }
}

/************************************************ bouton message ******************************************************/
.view-btn, .edit-btn, .delete-btn {
    padding: 10px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease;
    font-size: 0.9rem;
}

.view-btn {
    background-color: var(--light-green);
    color: var(--white);
}

.view-btn:hover {
    background-color: var(--dark-green);
    transform: scale(1.05);
}

.edit-btn {
    background-color: var(--orange);
    color: var(--white2);
}

.edit-btn:hover {
    background-color: var(--orange-hover);
    color: var(--white2);
}

.delete-btn {
    background-color: var(--red);
    color: var(--white);
}

.delete-btn:hover {
    background-color: var(--red-hover);
    transform: scale(1.05);
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.action-btn {
    display: flex;
    gap: 10px;
}

.back-btn, .reply-btn {
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 6px;
    color: var(--white2);
    text-decoration: none;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease;
}

.back-btn {
    background-color: var(--orange);
}

.reply-btn {
    background-color: var(--light-green);
}

.back-btn:hover {
    background-color: var(--orange-hover);
    color: var(--white2);
    transform: scale(1.05);
}

.reply-btn:hover {
    background-color: var(--dark-green);
    color: var(--white2);
    transform: scale(1.05);
}

/************** vue tablette ***************/

@media (max-width: 1024px) {
    .view-btn,
    .edit-btn,
    .delete-btn {
        padding: 8px 12px;
        font-size: 0.85rem;
    }
}

/************** vue mobile ***************/
@media (max-width: 768px) {
    .view-btn,
    .edit-btn,
    .delete-btn {
        padding: 2px 4px;
        font-size: 0.8rem;
    }

    .back-btn, .reply-btn {
        padding: 8px 12px;
        font-size: 0.9rem;
    }
}

