.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.pagination ul li {
    margin: 0 5px;
}

.pagination ul li a {
    display: inline-block;
    padding: 10px 15px;
    color: var(--dark-gray);
    text-decoration: none;
    border: 1px solid var(--white2);
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination ul li a:hover {
    background-color: var(--white);
    color: var(--dark-green);
}

.pagination ul li.active span,
.pagination ul li.current-page span {
    background-color: var(--dark-green);
    color: var(--white2);
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: bold;
}

.pagination ul li.disabled span {
    color: var(--white);
    border-color: var(--white);
}
