/********************************************* commande **************************************************************/
table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--white2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: var(--light-green);
    color: var(--white2);
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--white);
    font-family: 'Montserrat', sans-serif;
}

th {
    font-weight: 600;
}

tbody tr:nth-child(even) {
    background-color: var(--white);
}

tbody tr:hover {
    background-color: var(--white);
}

@media screen and (max-width: 1024px) {
    table {
        width: 100%;
    }

    th, td {
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    table {
        font-size: 12px;
    }

    th, td {
        padding: 8px 10px;
    }
}

/****************************************************** Message ******************************************************/
.message-table {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Lato', sans-serif;
}

.message-table th,
.message-table td {
    padding: 15px;
    text-align: left;
    background-color: var(--white);
    font-family: 'Montserrat', sans-serif;
}

.message-table th {
    font-weight: bold;
    color: var(--white);
    background-color: var(--light-green);
}

.message-table tr {
    transition: background-color 0.3s ease;
}

.message-table tr:hover {
    background-color: var(--white);
}

.message-table tr.read td {
    font-weight: normal;
    color: var(--dark-gray);
}

.message-table tr.unread td {
    font-weight: bold;
    color: var(--dark-green);
}

@media (max-width: 1024px) {
    .message-table th,
    .message-table td {
        padding: 12px;
        font-size: 0.95rem;
    }
}

@media (max-width: 768px) {
    .message-table th,
    .message-table td {
        padding: 10px;
        font-size: 0.85rem;
    }

    .message-table th:nth-child(3),
    .message-table td:nth-child(3) {
        display: none;
    }
}

/************************************************** admin ***********************************************************/
.admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.admin-thead {
    background-color: var(--light-green);
    color: var(--white2);
}

.admin-th, .admin-td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid var(--white);
    font-family: 'Lato', sans-serif;
}

.admin-th {
    font-weight: bold;
}


.table-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}



@media screen and (max-width: 1024px) {
    .admin-th, .admin-td {
        padding: 8px;
    }
}

@media screen and (max-width: 768px) {
    .admin-table, .admin-table thead, .admin-table tbody, .admin-th, .admin-td, .admin-tr {
        display: block;
    }

    .admin-th {
        display: none;
    }

    .admin-td {
        padding: 10px;
        text-align: left;
        position: relative;
    }

    .admin-td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        text-align: left;
        font-weight: bold;
        color: var(--dark-gray);
    }
}