:root {
    --white: #F6F6F6;
    --white2: #FFFFFF;
    --light-green: #72B01D;
    --dark-green: #3F7D20;
    --black: #0D0A0B;
    --dark-gray: #454955;
    --font-size-large: 1.5rem;
    --font-size-medium: 1.25rem;
    --font-size-small: 1rem;
    --border-radius: 12px;
    --font-family-heading: 'Pacifico', cursive;
    --font-family-primary: 'Montserrat', sans-serif;
    --font-family-secondary: 'Lato', sans-serif;
}