:root {
    --white: #F6F6F6;
    --white2: #FFFFFF;
    --light-green: #28A745;
    --dark-green: #218838;
    --black: #0D0A0B;
    --dark-gray: #454955;
    --orange: #fb8c00;
    --orange-hover:#f4511e;
    --red:#f44336;
    --red-hover:#b71c1c;
    --font-size-large: 1.5rem;
    --font-size-medium: 1.25rem;
    --font-size-small: 1rem;
    --border-radius: 12px;
    --font-family-heading: 'Pacifico', cursive;
    --font-family-primary: 'Montserrat', sans-serif;
    --font-family-secondary: 'Lato', sans-serif;
}
