/* Styles communs pour le header */
header img {
    height: 100px;
}

/* Liens */
a {
    text-decoration: none;
    color: var(--dark-green); /* Utilisation de la couleur définie dans app.css */
}

/* Navigation principale */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: var(--background-color); /* Utilisation de la couleur de fond définie dans app.css */
}

/* Actions de navigation */
.nav-action {
    display: flex;
    align-items: center;
}

/* Icônes */
.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Menu desktop */
.desktop-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-menu li {
    margin: 0 15px;
}

.desktop-menu a {
    color: var(--dark-green); /* Utilisation de la couleur définie dans app.css */
    font-size: var(--font-size-medium); /* Utilisation de la taille de police définie dans app.css */
}

.desktop-menu a:hover,
.desktop-menu a:focus {
    background-color:var(--dark-green);
    box-shadow: 0 4px 15px rgba(114, 176, 29, 0.5);
    color: var(--card-background-color);
}

/* Boutons de navigation */
.btn-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn-nav li {
    margin-left: 10px;
}

/* Menu burger */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin: 10px;
}

.burger-menu span {
    height: 3px;
    width: 30px;
    background-color: var(--dark-green); /* Utilisation de la couleur définie dans app.css */
    margin: 5px 0;
    transition: all 0.3s ease;
}

/* Menu mobile */
.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color); /* Utilisation de la couleur de fond définie dans app.css */
    z-index: 2;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

.mobile-menu.open {
    display: block;
}

.mobile-menu .logo img {
    max-width: 100%;
    height: auto;
}

.close-menu {
    font-size: 30px;
    color: var(--dark-green); /* Utilisation de la couleur définie dans app.css */
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Recherche */
#search {
    position: relative;
    width: 300px; /* Ajustez la largeur selon vos besoins */
}

#search-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    box-sizing: border-box;
    border: 1px solid var(--dark-green); /* Utilisation de la couleur définie dans app.css */
    border-radius: var(--border-radius); /* Utilisation du rayon de bordure défini dans app.css */
}

#search-input:focus,
#search-input:active {
    border-color: var(--dark-green); /* Utilisation de la couleur définie dans app.css */
    outline: none;
}

#search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-green); /* Utilisation de la couleur définie dans app.css */
}

#search-button svg.size-6 {
    width: 20px;
    height: 20px;
}

/* Boutons circulaires */
#message-button,
#cart-button,
#favorite-button,
#connexion-button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#message-button:hover,
#cart-button:hover,
#favorite-button:hover {
    color: #fff;
    background-color: var(--dark-green); /* Utilisation de la couleur définie dans app.css */
}

/* Dropdown */
.nav .dropdown {
    position: relative;
    display: inline-block;
}

.nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 7px;
}

.nav .dropdown-content a {
    color: var(--text-color); /* Utilisation de la couleur définie dans app.css */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.nav .dropdown:hover .dropdown-content {
    display: block;
}

.nav .dropdown:hover #connexion-button {
    color: #fff;
    background-color: var(--dark-green); /* Utilisation de la couleur définie dans app.css */
}

/* Sticky buttons */
.sticky-buttons li {
    display: none;
    margin: 0;
    list-style-type: none;
}

/* Media Queries */
@media (max-width: 768px) {
    .sticky-buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        padding: 10px 0;
        border-top: 1px solid #fff;
        z-index: 1000;
    }

    .sticky-buttons li {
        display: inline-block;
        margin: 0;
        list-style-type: none;
    }

    .sticky-buttons li button {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        outline: none;
        border: none;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .desktop-menu {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    .btn-nav {
        display: none;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--background-color); /* Utilisation de la couleur de fond définie dans app.css */
        z-index: 2;
        padding: 20px;
        overflow-y: auto;
        box-sizing: border-box;
    }

    .mobile-menu.open {
        display: block;
    }

    .mobile-menu .pages {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .mobile-menu .pages li {
        margin: 15px 0;
    }

    .mobile-menu .pages a {
        text-decoration: none;
        color: var(--dark-green); /* Utilisation de la couleur définie dans app.css */
        font-size: var(--font-size-large); /* Utilisation de la taille de police définie dans app.css */
        font-weight: bold;
    }

    .mobile-menu .pages a:hover {
        text-decoration: underline;
    }

    .close-menu {
        font-size: 30px;
        color: var(--dark-green); /* Utilisation de la couleur définie dans app.css */
        border: none;
        background: none;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .pages li {
        list-style-type: none;
    }

    #mobile-connexion-button:hover {
        background-color: var(--dark-green); /* Utilisation de la couleur définie dans app.css */
        color: #fff;
    }
}
