/* Logo du site */
header img {
    height: 100px;
}

/* Liens */
a {
    font-family: var(--font-family-primary), sans-serif;
    text-decoration: none;
}

/* Navigation principale */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: var(--white2);
}

/* Menu desktop */
.desktop-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-menu li {
    margin: 0 15px;
}

.desktop-menu a {
    color: var(--dark-green);
    font-size: var(--font-size-medium);
}

.desktop-menu a:hover,
.desktop-menu a:focus {
    color: var(--dark-green);
    text-decoration: underline;
}

/* Boutons de navigation */
.btn-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn-nav li {
    margin-left: 10px;
}

/* Menu burger */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin: 10px;
}

.burger-menu span {
    height: 3px;
    width: 30px;
    background-color: var(--dark-green);
    margin: 5px 0;
    transition: all 0.3s ease;
}

/* Menu mobile */
.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-green);
    z-index: 2;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

.mobile-menu.open {
    display: block;
}

.mobile-menu .logo img {
    max-width: 100%;
    height: auto;
}

.close-menu {
    font-size: 30px;
    color: var(--white2);
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Recherche */
#search {
    position: relative;
    width: 300px;
}

#search-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    box-sizing: border-box;
    border: 1px solid var(--dark-green);
    border-radius: var(--border-radius);
}

#search-input:focus,
#search-input:active {
    border-color: var(--dark-green);
    outline: none;
}

#search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-green);
}

#search-button svg.size-6 {
    width: 20px;
    height: 20px;
}

/* Boutons circulaires */
#message-button,
#cart-button,
#favorite-button,
#connexion-button {
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    color: var(--dark-green);
    outline: none;
    border: none;
    background-color: var(--white2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#message-button:hover,
#cart-button:hover,
#favorite-button:hover,
#connexion-button:hover{
    color: var(--white2);
    background-color: var(--dark-green);
}

/* Dropdown */
/* Dropdown Container */
.nav .dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Menu) */
.nav .dropdown-content {
    display: block; /* Pas de display none, le contrôle se fait avec visibility et opacity */
    position: absolute;
    background-color: var(--white2);
    min-width: 160px;
    z-index: 1;
    right: 7px;
    box-shadow: 0px 8px 16px 0px var(--dark-gray);

    /* Transition pour l'apparition/disparition */
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px); /* Légère translation vers le bas */
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

/* Active State: When Dropdown is visible */
.nav .dropdown-content--active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); /* Retour à la position initiale */
}

/* Dropdown Links */
.dropdown-content a {
    color: var(--dark-green);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: var(--white2); /* Légère couleur de fond au survol */
    color: var(--dark-green); /* Couleur de texte au survol */
    border-radius: 4px; /* Coins légèrement arrondis */
}

/* Transition fluide lors de l'ouverture/fermeture */
.nav .dropdown-content {
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

/* Sticky buttons */
.sticky-buttons li {
    display: none;
    margin: 0;
    list-style-type: none;
}

/* Mobile */
@media (max-width: 768px) {
    .sticky-buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: var(--white2);
        padding: 10px 0;
        border-top: 1px solid var(--white2);
        z-index: 1000;
    }

    .sticky-buttons li {
        display: inline-block;
        margin: 0;
        list-style-type: none;
    }

    .sticky-buttons li a {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        outline: none;
        border: none;
        background-color: var(--white2);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .desktop-menu {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    .btn-nav {
        display: none;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--dark-green);
        z-index: 2;
        padding: 20px;
        overflow-y: auto;
        box-sizing: border-box;
    }

    .mobile-menu.open {
        display: block;
    }

    .mobile-menu .pages {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .mobile-menu .pages li {
        margin: 15px 0;
    }

    .mobile-menu .pages a {
        text-decoration: none;
        color: var(--white2);
        font-size: var(--font-size-large);
        font-weight: bold;
    }

    .mobile-menu .pages a:hover {
        text-decoration: underline;
    }

    .close-menu {
        font-size: 30px;
        color: var(--white2);
        border: none;
        background: none;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .pages li {
        list-style-type: none;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--white2);
        min-width: 160px;
        z-index: 1;
        right: 7px;
        bottom: 40px;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0px 8px 16px 0px var(--dark-gray);
    }

    .dropdown-content--active {
        display: block;
        opacity: 1;
        visibility: visible;
    }

    #mobile-connexion-button{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        outline: none;
        border: none;
        background-color: var(--white2);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    #mobile-connexion-button:hover {
        background-color: var(--dark-green);
        color: var(--white2);
    }
}
