/* buttons.css */

/* Bouton de soumission (générique) */
.btn-submit {
    background-color: var(--light-green); /* Couleur définie dans app.css */
    color: #fff;
    border: none;
    border-radius: var(--border-radius); /* Rayon de bordure défini dans app.css */
    padding: 12px 24px;
    cursor: pointer;
    font-size: var(--font-size-medium); /* Taille de police définie dans app.css */
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.btn-submit:hover {
    background-color: var(--dark-green); /* Couleur définie dans app.css */
}

/* Bouton de recherche spécifique */
.btn-search {
    color: #fff;
    border: none;
    border-radius: var(--border-radius); /* Rayon de bordure défini dans app.css */
    padding: 10px 20px; /* Ajuste le padding si nécessaire */
    cursor: pointer;
    font-size: var(--font-size-medium); /* Taille de police définie dans app.css */
    transition: background-color 0.3s ease;
}

