/* Formulaire de recherche */
.search-section {
    max-width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--white2);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.search-input {
    flex: 1;
}

.form-group {
    flex: 1 1 45%;
    min-width: 200px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--dark-green);
    border-radius: var(--border-radius);
    font-size: var(--font-size-medium);
}

.input-symbol {
    position: relative;
}

.currency-symbol {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--dark-gray);
}

/*.btn {*/
/*    background-color: var(--light-green);*/
/*    color: var(--white2);*/
/*    border: none;*/
/*    border-radius: var(--border-radius);*/
/*    padding: 12px;*/
/*    cursor: pointer;*/
/*    font-size: var(--font-size-medium);*/
/*    text-align: center;*/
/*}*/

.btn:hover {
    background-color: var(--dark-green);
}

/* Vue tablette */
@media (max-width: 1024px) {
    .form-group {
        flex: 1 1 45%;
    }
}

/* Vue mobile */
@media (max-width: 480px) {
    .form-row {
        flex-direction: column;
    }
    .form-group {
        flex: 1 1 45%;
    }
}
