body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-small);
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

p {
    margin: 0 0 1.5em; /* Ajout d'un peu plus d'espace pour les paragraphes */
}

a {
    text-decoration: none;
}

h1 {
    font-family: var(--font-family-heading);
    font-size: 2.5em; /* Ajustement de la taille pour plus de cohérence */
    font-weight: 400;
}

h2, h3, h4, h5, h6 {
    font-family: var(--font-family-secondary);
    font-weight: 700;
    margin-bottom: 0.5em; /* Espacement sous les titres */
}

.flash-message {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: var(--border-radius);
    font-size: var(--font-size-medium); /* Ajustement de la taille du texte pour les messages */
}

.flash-success {
    background-color: #d4edda;
    color: #155724;
}

.flash-error {
    background-color: #f8d7da;
    color: #721c24;
}

.flash-info {
    background-color: #cce5ff;
    color: #004085;
}

/* Media Queries pour Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: var(--font-size-small);
    }

    .flash-message {
        font-size: var(--font-size-small);
    }
}
