html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1.6;
    background-color: var(--white2);
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h1 {
    font-family: 'Pacifico', cursive ;
    font-size: var(--font-size-large);
    color: var(--black);
}

h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif ;
    font-size: var(--font-size-medium);
    margin-bottom: 0.5em;
}

p {
    margin: 0 0 1.5em;
    color: var(--black);
    font-family: 'Lato', sans-serif ;
    font-size: var(--font-size-small);
}

a {
    font-family: 'Lato', sans-serif ;
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.text-danger {
    color: red;
    font-weight: bold;
}


@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: var(--font-size-small);
    }
}
