/* public/css/edit-profile.css */

.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container div {
    margin-bottom: 15px;
}

.form-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container input[type="date"],
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button[type="submit"]:hover {
    background-color: #45a049;
}

.profile-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; /* Ajoute un peu d'espace autour de la pastille */
}

.profile-image {
    width: 100px; /* Taille de la pastille */
    height: 100px; /* Taille de la pastille */
    border-radius: 50%; /* Rend l'image ronde */
    object-fit: cover; /* Maintient le rapport d'aspect de l'image en remplissant la pastille */
    border: 2px solid #ddd; /* Optionnel : Ajoute une bordure légère autour de la pastille */
}

/* Styles pour le bouton de suppression d'image */
.btn-delete-image {
    background-color: #f44336; /* Couleur rouge pour le bouton de suppression */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-delete-image:hover {
    background-color: #c62828; /* Couleur plus foncée au survol */
}

/* Styles pour le modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
