header img {
    height: 100px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.pages {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pages li {
    display: flex;
    margin: 0 15px;
}

.pages a {
    text-decoration: none;
    color: inherit;
    color: #3F7D20;
}

.pages a:hover {
    text-decoration: underline;
}

#search {
    position: relative;
    width: 300px;
}

#search-input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    box-sizing: border-box;
    border: 1px solid #72B01D;
    border-radius: 6px;
}

#search-input:focus,
#search-input:active {
    border: 1px solid #72B01D;
    outline: none;
}

#search-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #72B01D;
}

#search-button svg.size-6 {
    width: 20px;
    height: 20px;
}

#message-button {
    height:30px;
    width:30px;
    border-radius: 50px;
    outline: none;
    border: none;
}

#favorite-button {
    height:30px;
    width:30px;
    border-radius: 50px;
    outline: none;
    border: none;
}

#connexion-button {
    height:30px;
    width:30px;
    border-radius: 50px;
    outline: none;
    border: none;
}

#message-button,
#favorite-button,
#connexion-button:hover {
    cursor: pointer;
}