body {
    margin: 0; /* Assurez-vous qu'il n'y a pas de marge par défaut qui pourrait provoquer un défilement */
    overflow-x: hidden; /* Cache les débordements horizontaux */
}

.home-presentation {
    display: flex;
    height: 100vh;
}

.img-home {
    position: absolute; /* Conservez la position absolue */
    top: 60%; /* Ajustez pour que l'image soit verticalement centrée */
    right: -275px; /* Collez l'image au bord droit de l'écran */
    transform: translateY(-50%); /* Centrez l'image verticalement */
    width: 65%; /* Ajustez pour que l'image prenne la moitié de la largeur de l'écran */
    height: auto; /* Conservez les proportions de l'image */
    z-index: -1; /* Placez l'image derrière le contenu de la page */
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 150px;
}

.title h1 {
    width: 68%;
    margin-bottom: 30px;
    font-size: 52px;
}

.title p {
    width: 68%;
    margin-bottom: 100px;
    font-size: 24px;
}

.btn-container {
    display: flex;
    gap: 10px;
}

.btn-vente, .btn-achat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 50px;
    border-radius: 12px;
    text-align: center;
    margin: 30px;
}

.btn-vente {
    background-color: #72B01D;
    color: #fff;
}

.btn-vente:hover {
    background-color: #3F7D20;
    color: #fff;
    text-decoration: none;
    border: 1px solid #3F7D20;
}

.btn-achat {
    background-color: #fff;
    color: #72B01D;
    border: 1px solid #72B01D;
}

.btn-achat:hover {
    background-color: #3F7D20;
    color: #fff;
    text-decoration: none;
}

.grid-container {
    display: flex;
    flex-direction: column;
    gap: 40px; /* Espace entre les catégories */
    padding: 20px;
}

.category h3 {
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes égales */
    gap: 20px; /* Espace entre les cartes */
}

/* Media Queries for Tablets (min-width: 768px and max-width: 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
    .home-presentation {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto; /* Allow height to adjust based on content */
        padding: 20px;
        position: relative; /* Set position relative to adjust the child elements */
    }

    .img-home {
        position: static; /* Remove absolute positioning */
        width: 80%; /* Adjust image size for tablets */
        margin-top: 20px; /* Add margin to create space between text and image */
        transform: none; /* Remove any transform */
    }

    .title {
        margin: 30px 20px; /* Reduce margins for tablets */
    }

    .title h1 {
        width: 100%;
        font-size: 40px; /* Adjust font size for tablets */
        margin-bottom: 20px;
    }

    .title p {
        width: 100%;
        font-size: 20px; /* Adjust font size for tablets */
        margin-bottom: 30px;
    }

    .btn {
        flex-direction: row; /* Keep buttons in a row for tablets */
        gap: 10px; /* Add spacing between buttons */
    }

    .btn-vente, .btn-achat {
        margin: 10px; /* Adjust button margins for tablets */
    }

    .grid {
        grid-template-columns: repeat(2, 1fr); /* 2 colonnes pour tablettes */
    }
}

/* Media Queries for Mobile Devices (max-width: 768px) */
@media (max-width: 768px) {
    .home-presentation {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto; /* Allow height to adjust based on content */
        padding: 20px;
    }

    .img-home {
        position: static; /* Remove absolute positioning */
        width: 90%; /* Adjust image size for tablets */
        margin-top: 20px; /* Add margin to create space between text and image */
        transform: none; 
    }

    .title {
        margin: 30px 20px; /* Reduce margins for mobile */
    }

    .title h1 {
        width: 100%;
        font-size: 32px; /* Adjust font size for mobile */
        margin-bottom: 20px;
    }

    .title p {
        width: 100%;
        font-size: 18px; /* Adjust font size for mobile */
        margin-bottom: 30px;
    }

    .btn {
      display: none;/* Add spacing between buttons */
    }

    .btn-vente, .btn-achat {
        margin: 10px 0; /* Adjust button margins for mobile */
    }

    .grid {
        grid-template-columns: 1fr; /* 1 colonne pour mobiles */
    }
}
