.form-container div {
    margin-bottom: 15px;
}

.form-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container input[type="date"],
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--dark-gray);
    border-radius: 4px;
    font-size: var(--font-size-small);
}

.form-container button[type="submit"] {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: var(--font-size-small);
}


.profile-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--dark-green);
}

.btn-save-image,
.btn-delete-image {
    background-color: var(--light-green); /* Couleur de fond par défaut */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: var(--font-size-small); /* Taille de texte cohérente */
}

.btn-save-image {
    background-color: var(--light-green); /* Couleur spécifique pour le bouton de sauvegarde */
}

.btn-save-image:hover {
    background-color: var(--dark-green); /* Couleur plus foncée au survol */
}

.btn-delete-image {
    background-color: var(--red); /* Couleur spécifique pour le bouton de suppression */
}

.btn-delete-image:hover {
    background-color: var(--red-hover); /* Couleur plus foncée au survol */
}


.form-footer {
    display: flex; /* Aligne les éléments horizontalement */
    gap: 10px; /* Espacement entre les liens */
}

.btn-primary {
    background-color: var(--light-green); /* Couleur de fond des boutons */
    color: white;
    padding: 10px 15px; /* Espacement intérieur */
    border-radius: 4px; /* Coins arrondis */
    text-decoration: none; /* Pas de soulignement */
}

.btn-primary:hover {
    background-color: var(--dark-green);
    color: var(--white2)/* Couleur au survol */
}

.btn-delete-account {
    font-size: 0.8em; /* Taille de police plus petite */
    color: var(--red); /* Couleur du texte (rouge) */
    align-self: center; /* Centre verticalement le lien par rapport aux autres */
}

.btn-delete-account:hover {
    color: var(--red-hover);
    text-decoration: underline;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    position: absolute; /* Changez margin à position */
    top: 50%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%); /* Ajuste le centre de la modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* Ajoutez une largeur maximale pour de meilleures tailles */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ajoutez une ombre pour un meilleur effet visuel */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

