.fav-none {
    display: block;
    text-align: center;
    margin: 20px 0;
    font-size: 1.2em;
}


.favorites-list.user-favorites {
    display: block;
    margin: 50px;
}

.favorites-list.user-favorites .card {
    margin: 10px auto;
}
