.fav-none {
    display: block; /* Permet de définir des marges */
    text-align: center; /* Centre le texte horizontalement */
    margin: 20px 0; /* Ajoute un espacement vertical au-dessus et en dessous du texte */
    font-size: 1.2em; /* Optionnel : augmente la taille de police pour le rendre plus visible */
}


.favorites-list.user-favorites {
    display: block;
    margin: 50px;
}

.favorites-list.user-favorites .card {
    margin: 10px auto;
}
