select {
    width: 50%;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid var(--white2);
    background-color: var(--white2);
    font-size: 14px;
    color: var(--dark-gray);
}

select:focus {
    border-color: var(--light-green);
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

/* Tablette */
@media screen and (max-width: 1024px) {
    .order-summary, .delivery-method, .order-details {
        margin-top: 20px;
        padding: 15px;
    }

    .form-actions {
        flex-direction: column;
        align-items: stretch;
    }

    .form-actions .btn {
        margin: 5px 0;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .total {
        font-size: 16px;
    }
}
