{% extends 'base.html.twig' %}

{% block title %}Mes Favoris{% endblock %}

{% block body %}
    <h1>Mes favoris</h1>

    <div class="favorites-container">
        <h2>Produits Favoris</h2>
        <div class="favorites-list">
            {% set hasProductFavorites = false %}
            {% for favorite in favorites %}
                {% if favorite.favoriteType == 'product' and favorite.productFavorite is not null %}
                    {% set hasProductFavorites = true %}
                    {% include '_partials/product/_cardProduct.html.twig' with {'product': favorite.productFavorite} %}
                {% endif %}
            {% endfor %}

            {% if not hasProductFavorites %}
                <div class="card">Vous n'avez pas encore de produits favoris.</div>
            {% endif %}
        </div>

        <h2>Utilisateurs Favoris</h2>
        <div class="favorites-list">
            {% set hasUserFavorites = false %}
            {% for favorite in favorites %}
                {% if favorite.favoriteType == 'user' and favorite.userFavorite is not null %}
                    {% set hasUserFavorites = true %}
                    {% include '_partials/user/_card.html.twig' with {'user': favorite.userFavorite} %}
                {% endif %}
            {% endfor %}

            {% if not hasUserFavorites %}
                <div class="card">Vous n'avez pas encore d'utilisateurs favoris.</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
